[Desktop Entry]
Name=IPA-Keyboard
Comment=Virtual Keyboard to write IPA-snippets
Exec=/opt/ipa-peyboard/ipa-keyboard
Icon=godot
Terminal=false
Type=Application
Categories=Utility;
